<section class="py-6">
  <div class="px-4 flex justify-between items-end mb-4">
    <h2 class="text-[#101819] dark:text-white text-2xl font-extrabold tracking-tight flex items-center gap-2">
      <span class="w-8 h-[2px] bg-primary"></span> 師資介紹
    </h2>
    <span class="text-xs font-bold text-primary">查看全部</span>
  </div>
  <div class="flex overflow-x-auto gap-4 px-4 pb-4 no-scrollbar">
    <div class="min-w-[200px] bg-white dark:bg-gray-800 rounded-xl overflow-hidden bento-shadow flex-shrink-0 border border-gray-50 dark:border-gray-700">
      <div class="h-48 relative">
        <img alt="陳莎拉 博士" class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAkvTBu91lHUB21y6TkkoEGc3Fivdqtlz6W4bE3uYBmzePkVcwTCOelCQNCHbLLqIV3GvDj09lgxbX1rRLxHpegn2N-8GYph9BGA3nQaSZKA84wci6Vgf-qn2gTJa1Jt-pkOyUzkPytJv07l04C332H1JyyYlSvhFHgzqTswomN5xsdv4DSCXVsBJjY80qJcoej_DAvv0ABElF7FDVlZcNxiTQ8ERtyeZQXZvB3VWlOtPWJ5ozcdEXJ2zV2EMifMrDVq-A0am89fyI"/>
        <div class="absolute top-2 right-2 px-2 py-1 bg-accent-gold text-white text-[10px] font-bold rounded">數學專家</div>
      </div>
      <div class="p-4">
        <h4 class="font-extrabold text-[#101819] dark:text-white">陳莎拉 博士</h4>
        <p class="text-xs text-gray-500 mt-1">超過 10 年教學經驗</p>
      </div>
    </div>
    <div class="min-w-[200px] bg-white dark:bg-gray-800 rounded-xl overflow-hidden bento-shadow flex-shrink-0 border border-gray-50 dark:border-gray-700">
      <div class="h-48 relative">
        <img alt="James Wilson" class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDS_g2oaNNwslbhYIINmstYGGZKlBED2qfmlg0fg42msvQ57eFGMj33W3xJoleO_LZ97gAvfDak73Viz-meMuDnIq3bgaNXYWOQAfJAsTQqzvsAa7hrkkAwdiKlqlKuVAKi3VA7wvwdCMKkvhB63OYhJnGQwd8-1ib0J3w1Pxya4JOEAjhk8x60P9v-gGUwG8TBjYSPIeeTO9Cgj69sURhVv0gPGY8E0-lZOMkrUdRQ43HdMKYtHP8KuzYxgngUOTtGbvGQrTwXuec"/>
        <div class="absolute top-2 right-2 px-2 py-1 bg-primary text-white text-[10px] font-bold rounded">英文專家</div>
      </div>
      <div class="p-4">
        <h4 class="font-extrabold text-[#101819] dark:text-white">James Wilson</h4>
        <p class="text-xs text-gray-500 mt-1">雅思/托福首席導師</p>
      </div>
    </div>
  </div>
</section>
