<nav class="sticky top-0 z-50 flex items-center bg-background-light/80 dark:bg-background-dark/80 backdrop-blur-md p-4 md:p-5 lg:p-6 justify-between border-b border-gray-100 dark:border-gray-800">
  <a routerLink="/" class="flex items-center gap-2 md:gap-3 lg:gap-4">
    <div class="text-primary flex size-10 md:size-12 lg:size-14 shrink-0 items-center justify-center bg-primary/10 rounded-lg md:rounded-xl">
      <span class="material-symbols-outlined text-2xl md:text-3xl lg:text-4xl">school</span>
    </div>
    <h2 class="text-[#101819] dark:text-white text-xl md:text-2xl lg:text-3xl font-extrabold leading-tight tracking-tight">禾笙</h2>
  </a>
  <a routerLink="/register" class="bg-primary text-white px-4 md:px-6 lg:px-8 py-2 md:py-3 lg:py-4 rounded-lg md:rounded-xl text-sm md:text-base lg:text-lg font-bold tracking-wide">
    註冊/登入
  </a>
</nav>
